<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codes.simen.l50notifications" >

    <!-- Display the popup -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Determine currently running task -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Dismiss the keyguard -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- Turn the screen on. Not kept for longer than one minute unless "keep screen on" is enabled -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="codes.simen.permission.NOTIFICATIONS"
        android:label="Notifications"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="codes.simen.permission.NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="codes.simen.l50notifications.ui.WelcomeActivity"
            android:label="@string/app_icon_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="codes.simen.l50notifications.ui.WelcomeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="codes.simen.l50notifications.NotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="codes.simen.l50notifications.NotificationListenerAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <activity
            android:name="codes.simen.l50notifications.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="codes.simen.l50notifications.ui.WelcomeActivity" >
        </activity>
        <activity
            android:name="codes.simen.l50notifications.ui.ActivityAppList"
            android:label="@string/title_activity_app_list"
            android:parentActivityName="codes.simen.l50notifications.ui.SettingsActivity" >
            <intent-filter>
                <action android:name="codes.simen.l50notifications.activities.AppList.blacklist" />
                <action android:name="codes.simen.l50notifications.activities.AppList.noshowlist" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="codes.simen.l50notifications.OverlayService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="codes.simen.l50notifications.OverlayServiceCommon"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name="codes.simen.l50notifications.ui.SetLocaleActivity"
            android:label="@string/title_activity_set_locale"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
            <intent-filter>
                <action android:name="codes.simen.l50notifications.activities.SetLocale" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="codes.simen.l50notifications.util.UpdateReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name="codes.simen.l50notifications.KeyguardRelock"
            android:exported="false" >
        </service>

        <receiver
            android:name="codes.simen.l50notifications.admin.AdminReceiver"
            android:description="@string/device_admin_enable_explanation"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_config" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="codes.simen.l50notifications.ui.DeviceAdminEnabler"
            android:exported="true"
            android:label="@string/title_activity_device_admin_enabler" >
            <intent-filter>
                <action android:name="codes.simen.l50notifications.deviceAdmin" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="codes.simen.l50notifications.ui.RequestBroadcastDialog"
            android:theme="@style/Dialog">
            <intent-filter>
                <action android:name="codes.simen.l50notifications.REQUEST_BROADCAST" />
                <action android:name="codes.simen.l50notifications.CHECK_BROADCAST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LLandActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="codes.simen.l50notifications.LLAND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>

        <activity-alias
            android:name=".ui.LLandActivitySys"
            android:label="LLand"
            android:icon="@drawable/pop_vortex2"
            android:targetActivity=".ui.LLandActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.android.internal.category.PLATLOGO" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>